<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Model ORM</title>
</head>
<body>
    <div id="user">
        <h1>All The Users</h1>
        <table>

            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
            </tr>

            {% for user in all_users %}
            <tr>
                <td> {{user.id}} </td>
                <td> {{user.first_name }}  {{user.last_name}}</td>
                <td> {{user.email}} </td>
                <td> {{user.age}}  </td>
            </tr>
            {%  endfor %}

        </table>
    </div>

    <div id="add_user">
        <h1>Add A User</h1>
        <form action="/add_user" method="post">
            {% csrf_token %}
            <p>First Name <input type="text" name="first_name"></p>
            <p>Last Name <input type="text" name="last_name"> </p>
            <p>Email <input type="text" name="email"></p>
            <p>Age <input type="number" name="age"></p>

            <input type="submit" value="Add">
        </form>
    </div>
    
</body>
</html>